.star-1 {
  transform: translate(70px, 50px);
}
.star-2 {
  transform: translate(130px, 20px);
}
.star-3 {
  transform: translate(200px, 40px);
}
.star-4 {
  transform: translate(263px, 17px);
}
.star-5 {
  transform: translate(380px, 25px);
}
.star-6 {
  transform: translate(435px, 75px);
}
.star-7 {
  transform: translate(605px, 20px);
}
.star-8 {
  transform: translate(720px, 20px);
}
.star-9 {
  transform: translate(770px, 11px);
}
.star-10 {
  transform: translate(800px, 40px);
}
.star-11 {
  transform: translate(793px, 90px);
}